﻿.customDiv
{

    margin-bottom:3px;
    min-height:300px;
    background-color: silver;
    text-align: center;
    font-size: large;

}
.customDiv2{
    margin-bottom: 3px;
    min-height: 300px;
    background-color: silver;
    text-align: center;
    font-size:x-large;
}

.col-lg-3 {
    overflow: hidden;
}

.col-md-4 {
    overflow: hidden;
}

.col-sm-6 {
    overflow: hidden;
}