<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>
  <body>
    <h1>We'll be right back</h1>
    <p>
      This site is currently being updated.
    </p>

  </body>
</html>
