<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> {{pageTitle}}</title>
  </head>
  <body>
    {{> header}}
    <p>Project page text would go here</p>


    {{> footer}}

  </body>
</html>
