﻿.customDiv
{

    margin:3px;
    min-height:300px;
    background-color: silver;
    text-align: center;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 23px;
    font-weight: bold;
    color: #336699;


}
.customDiv2
{

    margin:3px;
    min-height:100px;
    background-color: gold;
    text-align: center;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 23px;
    font-weight: bold;
    color: #336699;


}
.customDiv3
{

    margin:3px;
    min-height:100px;
    background-color: white;
    text-align: center;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 23px;
    font-weight: bold;
    color: #336699;

}
.customDiv4
{

    margin:3px;
    min-height:100px;
    background-color: orange;
    text-align: center;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 23px;
    font-weight: bold;
    color: #336699;


}
.customDiv5
{

    border-radius: 25px;
    background: #73AD21;
    padding: 20px; 
    width: 200px;
    height: 150px; 
    text-align: center;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 23px;
    font-weight: bold;
    color: #336699;


}




