
<style>
.footer {
 position: fixed;
 left: 0;
 bottom: 0;
 width: 100%;
 background-color: black;
 color: white;
 text-align: center;
}
</style>

<footer>
  <div class="footer">
   <p>Copyright {{getCurrentYear}}</p>
  </div>
</footer>
