    <table class="table table-hover">
        <tr>
            <td width="70px">
                <a href="{{ url_for('user', username=post.author.username) }}">
                    <img src="{{ post.author.avatar(70) }}" />
                </a>
            </td>
            <td>
                <a href="{{ url_for('user', username=post.author.username) }}">
                    {{ post.author.username }}
                </a>
                rated the problem
                <a href=" {{post.problemLink}} ">
                    {{post.problemName}}
                </a>
                {{ moment(post.timestamp).fromNow() }}:
                <!-- rated the problem {{post.problemName}} {{ moment(post.timestamp).fromNow() }}: -->
                <br>
                {{"Rating: "}} {{ post.rating }}
            </td>
        </tr>
    </table>
