    <table class="table table-hover">
        <tr>
            <td width="70px">
                <a href="{{ url_for('user', username=post.author.username) }}">
                    <img src="{{ post.author.avatar(70) }}" />
                </a>
            </td>
            <td>
                {{ moment(post.timestamp).fromNow() }}:
                <br>
                <a href="{{ url_for('user', username=post.author.username) }}">
                    {{ post.author.username }}
                </a>
                added the problem
                <a href=" problem/{{post.id}} ">
                    {{post.problemName}}
                </a>

                {{"and rated it "}} <b> {{ post.firstrating }} {{"out of 10."}} </b>
            </td>
        </tr>
    </table>
