{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <br>

    <h4> This Web Application was developed by Imran Hasan. To contact me regarding any bugs, hugs, suggestions or
        feature request, you can reach me at <a href="mailto:imran221b@gmail.com"> imran221b@gmail.com </a>

        <br> <br> <br>

        <b>A little bit about this project: </b>
        <br> <br>
        The functionality of this web application is pretty self-explanatory. There are many different platforms out
        there which have algorithmic problems for problem solvers to solve and practice. But not every problems are
        of equal quality. With the help of this web application, programmers can rate problems from all the different
        platforms out there on the basis of the problem's beauty, aesthetics, quality, educational value etc. Users will be able
        to see the ranking of the problems from the Ranking page. This will help them choose and solve problems which has
        higher ratings (and thus, of higher quality).

        <br> <br>

        The motivation for me to develop this project came when I was solving problems from different platforms myself.
        I felt the need to have a common platform where problems from all the different platforms can be rated according
        to their quality. Such a platform will help programmers to pick and solve problems which are of higher quality. This will
        also reduce the amount of time and effort programmers waste by solving problems of low quality. And such a
        platform where good problems are recognized and bad problems are criticized through the ratings users give them
        will motivate Problem Setters to set better problems in the future.
    </h4>

{% endblock %}
